**1. The MickeyMouse problem**

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
a=1
a_tuple = ()
while a<101:
    if a%3==0 and a%5!=0:
        print ('Mickey')
        a_tuple = a_tuple + ('Donald',)
    if a%5==0 and a%3!=0:
        print ('Mouse')
        a_tuple = a_tuple + ('Duck',)
    if a%5==0 and a%3==0:
        print ('MickeyMouse')
        a_tuple = a_tuple + ('DonaldDuck',)
    if a%5!=0 and a%3!=0:
        print (a)
        a_tuple = a_tuple + (a,)
    a = a+1

print (type(a_tuple))
print (a_tuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
<class 'tuple'>
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

**2\. The swap function**

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def temp (x,y):
    a=y
    b=x
    return (a,b)

temp (1,2)

(2, 1)

In [3]:
def notemp (c,d):
    return (d,c)

notemp ('1','2')

('2', '1')

**3\. Computing the distance**

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
import numpy as np
def eu_dist (u,v):
    x1 = u[0]
    y1 = u[1]
    x2 = v[0]
    y2 = v[1]
    distance = np.sqrt((x1-x2)**2 + (y1-y2)**2)
    return distance

eu_dist ((3,0),(0,4))

5.0

**4\. Counting letters**

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [39]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

a_lower = str.lower (s)

#def count (b, c=a_lower):
#    x=0
#    for i in range (len(c)):
#        if c[i]==b:
#            x = x+1
#    return x
#
#count ('0')

sort = sorted(a_lower) + ['null'] #add null at the end to count the last character
prev = 0
for i in range(len(sort)-1):
    if sort [i+1] != sort [i]:
        print (f'The character {sort[i]} appears {i-prev} times')
        prev = i

The character   appears 40 times
The character . appears 2 times
The character 0 appears 2 times
The character 1 appears 2 times
The character a appears 7 times
The character b appears 5 times
The character c appears 3 times
The character d appears 3 times
The character e appears 22 times
The character f appears 10 times
The character g appears 1 times
The character h appears 9 times
The character i appears 14 times
The character k appears 2 times
The character l appears 6 times
The character m appears 12 times
The character n appears 10 times
The character o appears 13 times
The character p appears 8 times
The character r appears 17 times
The character s appears 9 times
The character t appears 19 times
The character u appears 9 times
The character v appears 2 times
The character w appears 2 times
The character y appears 2 times

**5\. Isolating the unique**

Write a function that determines and count the unique numbers in the list *l*

In [1]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [2]:
def unique_counter (list_to_count):
    unique = []
    list_to_count.sort()
    for i in range (1,len(list_to_count)+1):
        for k,j in enumerate(list_to_count):
            if list_to_count.count (j) == i and j != list_to_count[k-1]:
                unique.append (f'Number {j}, is present {i} times in l')
    return unique

In [3]:
unique_counter (l)

['Number 1, is present 1 times in l',
 'Number 5, is present 1 times in l',
 'Number 8, is present 1 times in l',
 'Number 9, is present 1 times in l',
 'Number 10, is present 1 times in l',
 'Number 16, is present 1 times in l',
 'Number 18, is present 1 times in l',
 'Number 19, is present 1 times in l',
 'Number 24, is present 1 times in l',
 'Number 30, is present 1 times in l',
 'Number 33, is present 1 times in l',
 'Number 37, is present 1 times in l',
 'Number 39, is present 1 times in l',
 'Number 41, is present 1 times in l',
 'Number 47, is present 1 times in l',
 'Number 53, is present 1 times in l',
 'Number 54, is present 1 times in l',
 'Number 55, is present 1 times in l',
 'Number 57, is present 1 times in l',
 'Number 58, is present 1 times in l',
 'Number 64, is present 1 times in l',
 'Number 72, is present 1 times in l',
 'Number 74, is present 1 times in l',
 'Number 75, is present 1 times in l',
 'Number 79, is present 1 times in l',
 'Number 81, is present 1 times in l',
 'Number 82, is present 1 times in l',
 'Number 86, is present 1 times in l',
 'Number 87, is present 1 times in l',
 'Number 88, is present 1 times in l',
 'Number 90, is present 1 times in l',
 'Number 92, is present 1 times in l',
 'Number 94, is present 1 times in l',
 'Number 95, is present 1 times in l',
 'Number 96, is present 1 times in l',
 'Number 98, is present 1 times in l',
 'Number 99, is present 1 times in l',
 'Number 3, is present 2 times in l',
 'Number 31, is present 2 times in l',
 'Number 34, is present 2 times in l',
 'Number 42, is present 2 times in l',
 'Number 50, is present 2 times in l',
 'Number 56, is present 2 times in l',
 'Number 63, is present 2 times in l',
 'Number 66, is present 2 times in l',
 'Number 89, is present 2 times in l',
 'Number 20, is present 3 times in l',
 'Number 36, is present 3 times in l',
 'Number 45, is present 3 times in l',
 'Number 51, is present 3 times in l',
 'Number 70, is present 3 times in l',
 'Number 85, is present 3 times in l',
 'Number 91, is present 3 times in l',
 'Number 84, is present 4 times in l']

**6\. Combination of functions**

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [15]:
def square (x):
    return x**2

def cube (x):
    return x**3

def six (x):
    fun = square (cube (x))
    return fun

print (square(3))
print (cube(4))
print (six(5))

9
64
15625

**7\. Cubes**

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [46]:
x=0
cube_loop = []
while x<11:
    a = x**3
    cube_loop.append (a)
    x = x+1
print (cube_loop)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [47]:
cube_com = []
for i in range (0,11):
    b = i**3
    cube_com.append (b)
print (cube_com)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**8\. Nested list comprehension**

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [49]:
Py = []
b=1
for a in range (1,101):
    for i in range (1,101):
        b=a+i
        c = np.sqrt(a**2 + b**2)
        C = int (c)
        if a%2==0 or b%2==0:
            if c == C and c<101:
                terna = (a,b,C)
                Py.append(terna)
#                print ('Terna pitagorica', a,b,C)
print (Py)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

**9\. Normalization**

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [18]:
import numpy as np
list = []
def norm (a):
    for i in range (len(a)):
        x = a[i]**2
        list.append (x)
    A = np.sqrt(np.sum(list))
    norm_a = a/A
    norm_tuple = tuple (norm_a)
    print ('The normalized tuple is', norm_tuple)

a = (2,4,6)
norm (a)

The normalized tuple is (0.2672612419124244, 0.5345224838248488, 0.8017837257372732)